@font-face {
    font-family: Mont;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

body {
    font-family: Mont;
    background-color: black;
}

footer {
    padding: 50px 0px 50px 0px;
}

.centre-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Remplit toute la hauteur de l'écran */
}

div {
    color: white;
}